html {
    background: url("../images/melencolia1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

.block {
    display: flex;
    flex-wrap: wrap;
}

.parts {
    max-width: 600px;
    align-self: start;
}

.text {
    font-family: serif;
}

