html {
  background-color: black;
}

body {
  margin: 40px;
}

input {
    outline: 0;
    border: none;
    color: #f80;
    background-color: black;
}


.wrapper {
  display: grid;
  grid-template-columns: 460px 200px auto;
  grid-template-rows: 460px;
  background-color: black;
  color: #f80;
}

.box {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #f80;
  padding: 20px;
  font-family: courier;
}

.highscores {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #f80;
  padding: 20px;
  font-family: courier;
}

.score {
  font-family: courier;
}
